<!DOCTYPE html>
<html>

    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/landing-page.css">
    </head>

    <body>
        <nav>
            <div class="container">
                <!--<div class="nav-wrapper row">  removed cos it let the sign up link wrap onto the next line-->
                    <a href="#!" class="brand-logo left col s3 m9">PostIt!</a>
                    <ul class="right col s5 offset-s4 m3">
                        <li><a href="#sign-in" class="modal-trigger">Sign in</a></li>
                        <li><a href="#signup" class="modal-trigger">Sign up</a></li>
                    </ul>
                <!--</div>-->
            </div>
        </nav>

        <div id="signup" class="modal">
            <div class="modal-content">
                <div class="col s12 m12 l6">
                  <h4 class="header2">Sign up for PostIt!&reg;</h4>
                  <div class="row">
                    <form class="col s12">
                        <div class="row">

                            <div class="input-field col s12">
                                <i class="material-icons prefix">person_outline</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                                
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mail_outline</i>
                                <input id="email" type="email" class="validate">
                                <label for="email" data-error="wrong email format" data-success="right">Email</label>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="material_icons" type="password" class="validate">
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">phone_outline</i>
                                <input id="icon_telephone" type="number" class="validate">
                                <label for="icon_telephone">Telephone</label>
                            </div>
                            
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>  <!-- close modal -->

        <div id="sign-in" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                        </div>

                        <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                        </div>

                        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
                    </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>  <!-- close modal -->


        <!-- Compiled and minified JavaScript -->
        <!-- jQuery is required by Materialize to function -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <!--custom js-->
        <script src="../js/custom.js"></script>
    </body>
</html>