<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>user actions</title>

        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

         <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles  -->
        <link href="../css/user-actions.css" rel="stylesheet">
    </head>

    <body>
    	<!-- nav -->

    	<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PostIt! &reg;</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">3m3ka</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Messages <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Group1: 5</a></li>
                            <li><a href="#">Group2: 0</a></li>
                            <li><a href="#">Group3: 3</a></li>
                            <li><a href="#">Group4: 8</a></li>
                          </ul>
                        </li>
                    </ul>
                </div><!--/.navbar-collapse -->

            </div>
        </nav> 

    	<div class="wrapper">

    		<div class="contain">

				<div class="panel panel-primary">
				 	<div class="panel-body">
				    	Create broadcast groups
				    	<button class="btn btn-success">
						    <span class="glyphicon glyphicon-arrow-right"></span>
						</button>
				 	</div>
				</div>

				<div class="panel panel-primary">
				 	<div class="panel-body">
				    	Add registered users to created groups
				    	<button class="btn btn-success">
						    <span class="glyphicon glyphicon-arrow-right"></span>
						</button>
				 	</div>
				</div>

		    </div> <!-- contain --> 

		    <div class="secondary">

				    <form class="form-signin">
				        <h2 class="form-signin-heading">Create new broadcast group</h2>

				        <label for="inputGroupname" class="sr-only" id="inputGroupname">Enter group name</label>
				        <input type="text" id="inputGroupname" class="form-control" placeholder="Enter group name" required autofocus>
				        <h5>Created on 14-06-17</h5>

				        <button class="btn btn-xs btn-danger pull-right" type="button">Cancel</button>
				        <button class="btn btn-xs btn-primary pull-right" type="submit">Create</button>
				    </form>


				    <form class="form-signin" id="form-two">
				        <h2 class="form-signin-heading">Add user to Group</h2>

				        <label for="inputUsername" class="sr-only">Email address</label>
				        <input type="email" id="inputUsername" class="form-control" placeholder="Enter user name" required autofocus>

				        <button class="btn btn-danger btn-xs pull-right" type="button">Cancel</button>
				        <button class="btn btn-xs btn-primary pull-right" type="submit">Add</button>
				        

				    </form>

		    </div>	<!-- secondary -->

	    </div> <!-- wrapper -->

	    <div class="footer navbar-fixed-bottom">
             <p>&copy; 2017 PostIt! LLC</p>
        </div>

	        <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="../../dist/js/bootstrap.min.js"></script>
	    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	    <script src="../../assets/js/vendor/holder.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

	    <!-- Latest compiled and minified JavaScript -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
