$base-color: rgb(38, 166, 154);

* {
  box-sizing: border-box;
}

html,
body,
#app,
.postit-app,
#two-section-page,
.chat-container,
#chat-input {
  height: 100%;
  min-height: 500px;
}

nav {
  background-color: $base-color;
  padding-left: 40px;
  padding-right: 40px;
}

.tabs .indicator {
  background-color: $base-color !important;
}

h3,
li a {
  color: $base-color;
}

body {
  background-color: #F3F3F3;
}

.postit-app {
  display: flex;
  flex-direction: column;
}

#chat-input {
  display: flex;
  flex-direction: column;
}

#two-section-page {
  padding-left: 300px;
  flex-grow: 1;
  width: 100%;

  @media only screen and (max-width : 992px) {
    padding-left: 0;
  }
}

textarea {
  resize: none;
}

textarea:focus {
    height: 40px;
}

#slide-out {
    margin-top: 56px;

    @media only screen and (min-width: 601px) {
        margin-top: 64px;
    }
}

.modal {
  max-height: 90%;
  width: 40%;
}

.chat-messages {
    width: 100%;
}

nav li {
  display: inline-block;
}

#signup form .row {
  line-height: 10px;
}

#no-messages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#no-messages,
#message-list {
  height: 100%;
  overflow: scroll;
}

.main-card {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 2rem;  
}

.card {
  border: 1px solid #cfcfcf;
}

div#button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.chat-container {
  padding: 0 10px;
}

.input-container {
  display: flex;

  #message-input {
    background: #F5F1EE;
    width: 100%;
  }
}

#message-input:active {
  border: green 3px solid;
}

div.card-content {
  background: #F5F1EE;
  color: black
}

a.btn-floating {
  background: grey;
}

div.user {
  display: flex;
}

div a.btn {
  margin-left: auto;
}

div.user-list {
  li:nth-child(even) {
  }
}

div.user-list {
  li:nth-child(odd) {
  }
}

ul.member-list li span{
  float: right;
}

div ul li span a {
  color: red;
}

div.empty-area p {
  margin-top: 40%;
  margin-left: 60%;
}

a#forgot-password {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 13px;
  margin-top: 10px;
}

#forgot-password h4,
#reset-password {
  background-color: #fff;
  padding: 15px;
  color: #26A69A;
}

#forgot-password div.input-field.col-s6 {
    padding-left: 15px;
    padding-right: 15px;
}

form#forgot-password,
form#reset-password {
  padding-bottom: 15px;
  background-color: #F5F1EE;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #888888;
  padding-bottom: 15px;
}

#reset-password {
  margin-top: 20px;
}

a#forgot-password:hover {
  color: #2bbbad;
  border-bottom: 1px #2bbbad dotted;
}

button.btn.waves-effect.waves-light.right {
  height: 30px;
  margin-top: -5px;
  background: #26A69A;
  box-shadow: none;
  padding: none;
}

.reset-password-div {
  align-self: center;
}

.reset-container0 {
  width: 50%;
  margin: 0 auto;
}

.card-content input[type=text],
.card-content input[type=number],
.card-content input[type=email],
.card-content input[type=password],
.card-content input[type=tel],
 {
  margin-bottom: 3px
}
.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a {
  background-color: transparent;
  color: $base-color;
}

ul.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  background-color: none;
}

.pagination li a {
  color: #72D3C9;;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}

.pagination li.active a {
  font-size: 14px;
  margin-top: -2px;
  color: #72D3C9;
  outline: none;
}

a {
  outline: none;
}

.pagination li.active {
  background-color: transparent;
  border-radius: 50%;
  border: 1px dotted #26A69A;
}

.backdrop {
  background-color: #ff6262;
}

div a.btn-floating,
div li a.float-button {
  background: #4AC2F0;
}

div a.btn-floating:hover {
  background: rgb(74,194,240);
}

div a.btn-floating {
  position: relative !important;
  top: 777;
}

div a.btn-floating {
  background:rgba(145, 218, 246, 0.88);
  position: absolute;
  bottom: 60px;
}

div a.btn-floating:hover {
  transform: rotate(-90deg);
  background: #4AC2F0;
}

ul#slide-out a {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 4.5;
  border-bottom: 1px solid lightgrey;
  color: dimgrey;
  height: 65px;
}

ul#slide-out a:hover {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 4.5;
  border-bottom: 1px solid lightgrey;
  color: #fff;
  background: #26A69A;
  height: 65px;
}

.selectedGroup {
  background: #26A69A;
  margin: 0 auto;
  color: #fff;
  width: 94%;
}


button {
  margin-left: 3px;
}

div.card-content {
  position: relative;
}

p.priority,
p.sender,
p.time-sent {
  position: absolute;
}

p.time-sent {
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

p.sender {
  top: 10px;
  left: 10px;
  font-size: 10px
}

p.priority {
  top: 10px;
  right: 10px;
  font-size: 10px
}

.card .card-content p.sender {
  color: #26A69A;
}

.card .card-content p.time-sent {
  color: dimgray;
}

.card .card-content p.priority {
  color: #72D3C9;
}

.card .card-content p {
  margin-top: 5px;
}

.error-toast {
  font-size: 14px;
  position: relative;
  right: 0;
  background: none;
  color: #D14836;
}

.success-toast {
  font-size: 16px;
  position: relative;
  left: 0;
  background: none;
  color: #2bbbad;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.29);
}

nav ul li {
  margin-left: 8px;
  margin-right: 8px;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  padding-left: 23px;
  padding-right: 11px;
}
.hidden {
  display: none !important;
}