$base-color: rgb(38, 166, 154);

* {
    box-sizing: border-box;
}

html,
// body,
.row,
#chat-input {
  height: 100%;
  width : 100%;
}

nav {
  background-color: $base-color;
}

.tabs .indicator {
  background-color: $base-color !important;
}

h3,
li a {
  color: $base-color;
}

body {
  background-color: #F3F3F3;
  // background-image: url("../images/chat_background.png");
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
    
#chat-input {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  #chat-input {
    padding-left: 0;
  }
}

#two-section-page {
  align-items: bottom;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0;
  width: 90%;
}

textarea:focus {
    /*resize: none;*/
    height: 40px;
}

#slide-out {
    margin-top: 64px;
    /*z-index: 0 !important;*/
}

.modal {
    max-height: 90%;
    width: 40%;
}

.chat-messages {
    width: 100%;
}

nav li {
    display: inline-block;
}



#signup form .row {
    line-height: 10px;
}

nav {
    z-index: 5999;
}

#message-list {
  overflow: scroll;
}

.main-card {
  width: 40%;
  margin: auto;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Landing Page */

.page-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 2rem;  
}

.card {
  border: 1px solid #cfcfcf;
}

div#button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Dashboard*/
.messages {
  // position: absolute;
  top: 3.5rem;
}

#dashboard-navbar{
  position: fixed;
}

.message-list-container {
  margin-top: 64px;
}

#message-input {
  // position: fixed;
  background: #F5F1EE
}

div.card-content {
  background: #F5F1EE;
  color: black
}

a.btn-floating {
  background: grey;
}

div.user {
  display: flex;
}

div a.btn {
  margin-left: auto;
}

div.user-list {
  li:nth-child(even) {
    background-color: rgb(245,245,245);
    padding: 5px;
  }
}

div.user-list {
  li:nth-child(odd) {
    background-color: #ffffff;
    padding: 5px;
  }
}

 #groups {
   li:nth-child(even) {
     background-color: rgb(245,245,245);
   }
 }

 #groups {
   li:nth-child(odd) {
     background-color: #ffffff;
   }
 }

ul.member-list li span{
  float: right;
}

div ul li span a {
  color: red;
}

div.empty-area p {
  margin-top: 40%;
  margin-left: 60%;
}

a#forgot-password {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    margin-bottom: 10px;
}

a#forgot-password:hover {
    color: #2bbbad;
    border-bottom: 1px #2bbbad dotted;
}
