* {
    box-sizing: border-box;
}

.central-position {
  display: flex;
  justify-content: center;
  /*align-content: center;*/
}

.item {
  align-self: center;
  /*margin-top: auto;*/
}

#chat-input {
    margin-bottom: 15px;
    margin-left: 300px;
    margin-right: 85px;
    position: absolute;
    bottom: 0px;
}

textarea:focus {
    /*resize: none;*/
    height: 40px;
}

#nav-mobile {
    margin-top: 64px;
    z-index: 0 !important;
}

.modal {
    max-height: 90%;
    width: 40%;
}

.chat-messages {
    width: 100%;
}

nav li {
    display: inline-block;
}

#signup form .row {
    line-height: 10px;
}




/*#messages {
    width: 100%;
}*/


/*div #users {
    border: 1px red dotted;
}*/

/*.users-nav {
    z-index: 0 !important;
    position: absolute !important;
    right: 0px;
}*/

/*div, ul.rightside-navigation {
    z-index: 0 !important;
}*/

/*ul.rightside-navigation {
    margin-top: 64px
}*/